<div class="container">
    <div class="option">
        <%= form_tag("/posts/index") do %>
            <div class="sort">
                <h5>ソート</h5>
                <div class="sort_option">
                    <p>表示順：</p>
                    <p><input type="radio" name="sort" value="title" <%if @sort == "title" then%>checked<%end%> required/>タイトル</p>
                    <p><input type="radio" name="sort" value="datetime" <%if @sort == "datetime" then%>checked<%end%>/>日時</p>
                    <p><input type="radio" name="sort" value="site" <%if @sort == "site" then%>checked<%end%>/>場所</p>
                    <p><input type="radio" name="sort" value="assess" <%if @sort == "assess" then%>checked<%end%>/>評価</p>
                </div>
                <div class="sort_order">
                    <p>並び順：</p>
                    <p><input type="radio" name="order" value="asc" <%if @order == "asc" then%>checked<%end%> required/>昇順</p>
                    <p><input type="radio" name="order" value="desc" <%if @order == "desc" then%>checked<%end%>/>降順</p>
                </div>
                <input type="submit" value="適用">
            </div>
        <%end%>
        <%= form_tag("/posts/index") do %>
            <div class="filter">
                <h5>絞り込み</h5>
                <div class="filter_option">
                    <p>項目：</p>
                    <p><input type="radio" name="filter" value="title" <%if @filter == "title" then%>checked<%end%> required/>タイトル</p>
                    <p><input type="radio" name="filter" value="site" <%if @filter == "site" then%>checked<%end%>/>場所</p>
                    <p><input type="radio" name="filter" value="assess" <%if @filter == "assess" then%>checked<%end%>/>評価</p>
                </div>
                <div class="filter_keyword">
                    <p>キーワード：<input type="text" name="keyword" <%if @keyword then%>value=<%=@keyword%><%end%> required></p>
                </div>
                <input type="submit" value="適用">
            </div>
        <%end%>
    </div>

    <h4 class="index-headline">投稿一覧</h4>
    <% @posts.each do |post| %>
        <div class="posts-index-item">
            <%= link_to "#{post.id}", class:"card" do %>
                <h4><%=post.title%></h4>
                <p><%=post.site%></p>
                <div class="evaluation">
                    <% for i in 1..5 do %>
                        <input id=<%="star" + i.to_s%> type="radio" name=<%= post.id.to_s %> <% if (5-i+1)==post.assess then%>checked="checked"<% end %> value=<%=(5-i+1).to_s%> disabled/>
                        <label for=<%="star" + i.to_s%>><span class="text"></span>★</label>
                    <% end %>
                </div>
                <p class="datetime"><%=post.datetime.strftime("%Y年%m月%d日%H時%M分")%></p>
            <% end %>
        </div>
    <% end %>
</div>