<div class="container">
    <div class="option">
        <%= form_tag("/posts/index") do %>
            <div class = "form">
                <div class="sort">
                    <h5>ソート</h5>
                    <div class="sort_option">
                        <p>表示順：</p>
                        <p><input type="radio" name="sort" value="title" required/>タイトル</p>
                        <p><input type="radio" name="sort" value="datetime" checked/>日時</p>
                        <p><input type="radio" name="sort" value="site" />場所</p>
                        <p><input type="radio" name="sort" value="assess" />評価</p>
                    </div>
                    <div class="sort_order">
                        <p>並び順：</p>
                        <p><input type="radio" name="order" value="asc" required/>昇順</p>
                        <p><input type="radio" name="order" value="desc" checked/>降順</p>
                    </div>
                </div>
                <input type="submit" value="適用">
            </div>
        <%end%>
    </div>

    <h4 class="index-headline">投稿一覧</h4>
    <% @posts.each do |post| %>
        <div class="posts-index-item">
            <%= link_to "#{post.id}", class:"card" do %>
                <h4><%=post.title%></h4>
                <p><%=post.site%></p>
                <div class="evaluation">
                    <% for i in 1..5 do %>
                        <input id=<%="star" + i.to_s%> type="radio" name=<%= post.id.to_s %> <% if (5-i+1)==post.assess then%>checked="checked"<% end %> value=<%=(5-i+1).to_s%> disabled/>
                        <label for=<%="star" + i.to_s%>><span class="text"></span>★</label>
                    <% end %>
                </div>
                <p class="datetime"><%=post.datetime.strftime("%Y年%m月%d日%H時%M分")%></p>
            <% end %>
        </div>
    <% end %>
</div>