<div class="container">
    <h4 class="index-headline">投稿一覧</h4>
    <% @posts.each do |post| %>
        <div class="posts-index-item">
            <%= link_to "#{post.id}", class:"card" do %>
                <h4><%=post.title%></h4>
                <p><%=post.site%></p>
                <div class="evaluation">
                    <% for i in 1..5 do %>
                        <input id=<%="star" + i.to_s%> type="radio" name=<%= post.id.to_s %> <% if (5-i+1)==post.assess then%>checked="checked"<% end %> value=<%=(5-i+1).to_s%> disabled/>
                        <label for=<%="star" + i.to_s%>><span class="text"></span>★</label>
                    <% end %>
                </div>
                <p class="datetime"><%=post.datetime.strftime("%Y年%m月%d日%H時%M分")%></p>
            <% end %>
        </div>
    <% end %>
</div>