<div class = "posts-item container">
    <p>タイトル：<%= @post.title %></p>
    <p>場所：<%= @post.site %></p>
    <p>コメント：<%= @post.comment %></p>
    <p>評価：<%= @post.assess %></p>
    <p>日時：<%= @post.datetime.strftime("%Y年%m月%d日%H時%M分") %></p>
</div>
